<h2>Timezones here</h2>

{% schema %}
{
  "name": "Schedule Timezones",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "t:sections.page.settings.page.label"
    }
  ],
  "presets": [
    {
      "name": "Schedule Timezones"
    }
  ]
}
{% endschema %}
